<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="playstation logo"
      srcset=""
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://ibeckzzzz.github.io/portifolio-dio/" target="_blank">C.V ONLINE</a></li>
      <li><a href="https://github.com/IBeckzzzz?tab=repositories" target="_blank">GITHUB</a></li>
      <li><a href="https://www.linkedin.com/in/thiagobeck" target="_blank">LINKEDIN</a></li>
    </ul>

  </div>
</div>
